
* {
    box-sizing: border-box;
}

.box {
    margin: 8px auto;
    width: 250px;
    border: 1px solid lightgray;
    padding: 8px;
    box-shadow: 0px 0px 8px lightgray;
    border-radius: 8px;
    text-align: center;
}

.box > h3 {
    margin: 8px;
}

.box > img {
    margin: 16px;
}

#question {
    text-align: center;
}

#answer, #message {
    display: block;
    margin: 8px auto;
    text-align: center;
    padding: 8px;
}

button {
    box-sizing: border-box;
    width: 50%;
    border: 0px;
    padding: 8px;
    background-color: lightgreen;
}

button:hover {
    background-color: lightsalmon;
}

#bt-new {
    border-bottom-left-radius: 8px;
}

#bt-check {
    border-bottom-right-radius: 8px;
}

.hidden {
    display: none;
}

.box.tabs {
    padding: 0px;
}

.box > .tab {
    display: inline-block;
    width: 50%;
    padding: 8px;
    border-radius: 8px;
}

.tab:hover {
    cursor: pointer;
}

.tab.active {
    background-color: lightsalmon;
    /* color: white; */
    font-weight: bold;
}

.history-item, #history-header {
    display: flex;
    flex-flow: row nowrap;
    padding: 8px;
}

.history-item:nth-child(even) {
    background-color: rgba(144, 238, 144, 0.2);
}

.history-item > span, #history-header > span {
    width: 50%;
}

#history-header {
    font-weight: bold;
    border-bottom: 1px solid;
}

#bt-clear {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    margin-top: 8px;
}
